.top-bar {
  background-color: #023047;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #fb8500;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-size: 1.5rem;
  color: #ffb703;
  text-decoration: none;
  font-weight: bold;
}

.filters {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.filters input,
.filters select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #219ebc;
}

.create-button {
  background-color: #fb8500;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}



.create-button:hover {
  background-color: #ffb703;
}

/* Bouton S'identifier - style outline bleu */
.btn-login {
  background-color: #ececec;
  border: 2px solid #219ebc;
  color: #219ebc;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-login:hover {
  background-color: #219ebc;
  color: white;
}

/* Bouton Créer un compte - style plein orange */
.btn-register {
  background-color: #fb8500;
  border: none;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-register:hover {
  background-color: #ffb703;
}

/* Bouton Déconnexion */
.btn-logout {
  background-color: #219ebc;
  border: none;
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-logout:hover {
  background-color: #023047;
}

.my-candidature{
  background-color: #fb8500;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.my-candidature:hover {
  background-color: #ffb703;
}