<div class="job-feed">
  <div class="job-header">
  <h2>{{ job.title }}</h2>
  <span class="company-badge" *ngIf="job.company">{{ job.company.name }}</span>
</div>
<small class="job-date">Publié le : {{ job.createdAt | date:'dd/MM/yyyy' }}</small>

  <p class="job-desc">{{ job.description }}</p>

  <div class="job-tags">
    <span class="tag type">{{ job.type }}</span>
    <span class="tag location">📍 {{ job.location }}</span>
  </div>

  <div class="actions">
    <a [routerLink]="['/detail', job.id]" class="btn secondary">Détails</a>
    <a [routerLink]="['/apply', job.id]" class="btn primary">Postuler</a>
  </div>
  
</div>
